@import '../../scss/variable.scss';

.container{
    display: flex;
    justify-content: flex-start;
    height: $panel-height;
    width: 100%;

    position: absolute;
    z-index: $layer-index;
    bottom: 0px;

    color: white;

    // background-color: blue;
}